.detail-container {
    /* background-color: cadetblue; */
    margin-top: 2rem;
    cursor: pointer;
}
@media all and (max-width: 576px) {
    .detail-container {
        margin-bottom: 4rem;
    } 
}